---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    Hello! I'm <span class='text-secondary'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
    I am a technically versatile developer, 3d artist and project planner with an extended year and 2 months of industry experience at The Walt Disney Company. I find most of my enjoyment in new technologies, creative outlets and sharing knowledge with my peers.
  </p>
  <p class='text-lg mb-6'>
    Within this portfolio, you'll find my exploits as an MComp (Hons) Computer Science with Games Engineering student at Newcastle University; predicted for a First-Class Honours. I thrive to bridge the gap between technical artistry and software engineering.
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-full h-full mask mask-circle size-44'
  />
</div>
